.content
  .row-fluid
    .span4
      %legend Snippet
    .span1.offset6
      #tmpModal.modal.hide.fade
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h3 Template
        .modal-body
          %h5 コピペして使用して下さい
          .tooltip-demo.well
            %p.muted{:style => "margin-bottom: 0;"}
              %table.table.table-bordered
                %tbody
                  %tr
                    %td
                      %a{:href => "#", :rel => "tooltip", :title => "[リンクテキスト](URL)"} link
                    %td [bamtsk/snipp · GitHub](https://github.com/bamtsk/snipp)
                  %tr
                    %td
                      %a{:href => "#", :rel => "tooltip", :title => "一文は` `で囲む"} code
                    %td `puts value`
                  %tr
                    %td
                      %a{:href => "#", :rel => "tooltip", :title => "複数文は行頭に空白4つ"} code
                    %td
                      %p
                        &nbsp&nbsp&nbsp&nbsp def num
                        %br/
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 1.next
                        %br/
                        &nbsp&nbsp&nbsp&nbsp end
          %ul.omake
            %li #、##、###：見出し（見出し文字の下に「=====」(h1)「-----」(h2)でもいい）
            %li *ABCDEFG*：斜体
            %li **ABCDEFG**：強調
            %li 「*」「+」「-」：箇条書き（記号の直後にスペースかタブ要）
            %li 行頭に数字＋ピリオド：番号付け（記号の直後にスペースかタブ要）
            %li 箇条書き・番号付けの後ろで改行は、「行末スペース*2」でできる。レベル2は、「 - 」。
            %li >：引用
            %li ![代替テキスト](画像のURL)：画像
            %li 行末にスペース2つ：段落内での改行
            %li HTMLタグ：直接タグを書く(一部制限あり)

        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"} quit

      %a{"data-toggle" => "modal", :href => "#tmpModal", title: "テンプレート"}
        %i.icon-wrench

    .span1
      #cheatSeatModal.modal.hide.fade
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h3 Cheat Sheet
        .modal-body
          = image_tag 'markdown/Markdown.png'
        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"} quit

      %a{"data-toggle" => "modal", :href => "#cheatSeatModal", title: "Markdownチートシート"}
        %i.icon-book



  .row-fluid
    .span4
      = form_for(@snippet, :html => {:class => 'form-vertical'}) do |f|
        - if @snippet.errors.any?
          %ul
            - @snippet.errors.full_messages.each do |msg|
              %li{:style => "color: Red"}= msg

        .field
          = f.text_field :title, :placeholder => 'title'
        .field
          = f.text_field :tag_list, id: "tags", :placeholder => 'tag'
        .wmd-panel
          .field
            = f.text_area :fragment, class: "wmd-input", id: "wmd-input", :placeholder => "`// Write your code here`"
        .field
          = f.label :pin
          = f.check_box :pin, {}, true
        .actions
          = f.submit :class => 'btn-primary'

    .span8
      .well
        #wmd-preview.wmd-panel.wmd-preview

= javascript_include_tag "markdown/runningEditor"
