.content
  - if notice.present?
    #notice
      %p(class="alert alert-success")= notice

  .row-fluid
    .span9
      %ul{style: "list-style:none;"}
        - @snippets.each do |snippet|
          %li{:id => "snippet_#{snippet.id}"}
            %h3= snippet.title
            %div
              - if snippet.pin
                %i.icon-magnet

              = link_to_with_icon 'share', snippet_path(snippet), :title => "Show"

              .pull-right
                = link_to_with_icon 'edit', edit_snippet_path(snippet), :title => "Edit", "data-placement" => "bottom"
                = link_to_with_icon 'trash', snippet, :confirm => 'Sure?', |
                                                      :method => :delete,  |
                                                      :remote =>  true,
                                                      :title => "Delete", "data-placement" => "bottom"

            %div
              %span.badge.badge-success= "snippet " + snippet.created_at.strftime("%Y/%m/%d")
              .pull-right
                %span.label= snippet.tag_list

            %hr/

    .span3
      .well
        = link_to '全て表示', [:snippets]
        - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
          = link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class


:javascript
  $(function() {
    setTimeout(function() {
      $('#notice').fadeOut("slow");
    }, 1000);

    // 削除処理のAjax化
    $('a[data-method="delete"]').on('ajax:success', function(e, data, status, xhr) {
      $('#snippet_'+data.snippet.id).fadeOut("slow");
    });

  });
