- if signed_in?
  %h1 Post once a day!
  = current_user.name

  .row
    .span4.offset8
      = link_to '全て表示', [:snippets]
      - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class

  .row
    .span4
      - @snippets.each do |snippet|
        %li{:id => "post_#{snippet.id}"}
          = snippet.command
          = link_to '[Edit]', edit_snippet_path(snippet)
          [Delete]


- else
  ログインして下さい
