!!!
%html
  %head
    %title SnippetScheduler
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:onload => "prettyPrint()"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} LLSnippet
          %ul.nav
            %li.active
              %a{:href => "/"} Snippets
          %p.navbar-text.pull-right
            - if signed_in?
              Welcome #{session[:username]}!
              \#{link_to "Sign Out", "/signout"}
            - else
              = link_to "Sign in with Twitter", "/auth/twitter"

    .container{:style => "margin-top: 50px"}
      = yield

      / %footer.footer
      /   %p.pull-right
      /     %a{:href => "#"} Back to top
      /   %p
      /     フッターです。フッターです。
