!!!
%html
  %head
    %title snipp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    %header
      %h1.title
        - if signed_in?
          = link_to current_user.screen_name, :snippets
        - else
          = link_to 'snipp', root_path
      %ul.links
        - if signed_in?
          %li.link= link_to 'New', :new_snippet
          %li.link= link_to 'Sign Out', '/signout'
        - else
          %li.link= link_to "Sign in with Twitter", "/auth/twitter"

    .main
      = yield

    %footer
      %p= link_to "github", "https://github.com/bamtsk/snipp", :target => "_blank", :title => "snipp is an open sourced project"
